body{
  color: #405140;
margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  line-height: 2;
  margin: 50px auto 0 auto;
  font-family: 'sacramento', cursive;
}
h2{
  color: #66BFBF;
  font-family: 'Montserrat',sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
  font-family: 'Montserrat',sans-serif;
}
p{
  line-height: 2;
}
hr{
  border:dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a{
color:  #11999E;
font-family: 'Montserrat',sans-serif;
margin: 10px 20px;
text-decoration:none;
}
a:hover{
  color: #EAF6F6;
}
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px
}
.middle-container{
  margin: 100px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

  .skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;

  }

.pro {
  text-decoration: underline;
}
.intro{
  width: 30%;
  margin: auto;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright {
  color: #EAF6F6;
  font-size:0.70rem;
  padding: 20px 0px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.code-img {
  width:25%;
  float: left;
  margin-right: 30px;


}
.working-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.classname {
	-moz-box-shadow: 0px 1px 14px -7px #276873;
	-webkit-box-shadow: 0px 1px 14px -7px #276873;
	box-shadow: 0px 1px 14px -7px #276873;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99) );
	background:-moz-linear-gradient( center top, #599bb3 5%, #408c99 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99');
	background-color:#599bb3;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	font-style:normal;
height:23px;
	line-height:23px;
width:90px;
	text-decoration:none;
	text-align:center;
	text-shadow:7px 2px 10px #3d768a;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3) );
	background:-moz-linear-gradient( center top, #408c99 5%, #599bb3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3');
	background-color:#408c99;
}.classname:active {
	position:relative;
	top:1px;
}
